{% extends 'start.html' %}

{% block title %}Main page{% endblock %}

{% block links %}

{% endblock %}

{% block content %}
	<div class="container d-flex flex-column">
        <div class="d-flex flex-column py-5" id="hanging-icons">
            <h2 class="pb-2 border-bottom text-white">Hanging icons</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
              <div class="col d-flex align-items-start">
                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                </div>
                <div>
                  <h3 class="fs-2 text-white">Featured title</h3>
                  <p class="text-white">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                  <a href="#" class="btn btn-primary">
                    Choose dataset
                  </a>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                </div>
                <div>
                  <h3 class="fs-2 text-white">Featured title</h3>
                  <p class="text-white">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                  <a href="/add_data" class="btn btn-primary">
                    Fill data
                  </a>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
                </div>
                <div>
                  <h3 class="fs-2 text-white">Featured title</h3>
                  <p class="text-white">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                  <a href="#" class="btn btn-primary">
                    Get report
                  </a>
                </div>
              </div>
            </div>
        </div>

        <div class="d-flex flex-column">
            <h2 class="pb-2 border-bottom text-white">Choose dataset</h2>
            <div>

                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Action
                  </button>
                  <ul class="dropdown-menu">
                    {% for dataset in datasets %}
                    	<li><a class="dropdown-item" href="/dataset/{{ dataset.id }}/page/1">{{ dataset.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
